.envrc
.venv
.idea
**/__pycache__
# Runs folder
runs
runs.bkp
tmp

# Shell scripts are ignored by default
**/*.sh

# Jupyter stuff
notebooks
**/.ipynb_checkpoints

# Spreadsheet stuff
**/*.ods
**/*.xlsx

# Ignore data by default
data
